init_config:

instances:
  # name is used for service check on current workers and as the 'sidekiq:<name>'
  # datadog tag. It should match output of
  #   `pgrep -fa '^sidekiq' | cut -d' ' -f 4`
  # or (equivalently) a --tag or -g value to sidekiq when it is started
  #
  # redis configuration mirrors the arguments to Sidekiq.configure_client's
  # .redis member.
  # - name: myapp
  #   redis_url: redis://localhost:6379/0
  #   redis_namespace: sidekiq  # sidekiq is the default
  #   tags:
  #     - app:myapp
  #     - env:notprod
